<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h1 Blind Test
        h3 Explication
        p Des musiques passent et les joueurs doivent deviner d'où elles proviennent.
        h3 Création
        p Etape 1 : Il faut aller sur youtube et trouver la vidéo. Si possible, ne pas prendre de vidéo avec des sous titres. Ces vidéos peuvent être des opening, des ending, des chansons de jeux vidéo, de films d'animation... Ces vidéos doivent commencer à un moment culminant (genre le refrain).
        p Etape 2 : Copiez le lien et collez le sur le site https://hesetube.com/ puis cliquez sur "go".
        p Etape 3 : La vidéo devrait apparaitre. Dans la partie "Cut vidéo", choisissez le début de la vidéo et la fin, puis cliquez sur "Download". Evitez les vidéos de plus de 30 secondes. Le nom de la vidéo doit être la réponse (avec ma juscule, pas de OP (opening) ou de ED (ending) dans le nom).
        p Etape 4 : Mettre cette vidéo dans un dossier. Répétez l'opération jusqu'à avoir entre 20 et 25. Attention à bien équilibré la difficulté.
        p Etape 5 : Compressez le dossier en .rar ou .zip et envoyez le fichier à shade via différentes méthode (google drive, dropbox, 1fichier).
        hr
        h1 Blurry Game
        h3 Explication
        p Une image très floutée va apparaitre avec un compteur qui démarre à 100. Plus l'image devient net et plus le compteur baisse. Le premier qui trouve d'où provient l'image gagne l'équivalent du compteur.
        h3 Création
        p Etape 1 : Allez sur google image et cherchez la série désirée.
        p etape 2 : Cliquez sur "outils", sur "taille" et sur "égale à.
        p Etape 3 : Choisissez largeur : 1280, hauteur : 720. Vous pouvez choisir une autre taille, tant que c'est en format 16/9ème.
        p Choisissez votre image et sauvegardez là dans un dossier. Le titre de l'image doit être la réponse (exemple : One piece) et ke format de l'image doit être en PNG, JPG ou JPEG.
        p Etape 5 : Vous devez trouver 20 images différentes. Attention à bien équilibré la difficulté.
        p Etape 6 : Compressez le dossier en .rar ou .zip et envoyez le fichier à shade via différentes méthode (google drive, dropbox, 1fichier).
        hr
        h1 QCM
        h3 Explication
        p Un questionnaire à choix multiple
        h3 Création
        p Etape 1 : Téléchargez ce fichier test : https://www.dropbox.com/s/ql1fw45h7qquc3c/QCM%2003.js?dl=0
        p Etape 2 : 
        a(href='https://youtu.be/y4q0mxC1m8U') Lien youtube pour l'explication
        p Note : J'ai modifié le fichier pour que ce soit plus simple. Vous avez plus besoin de faire des copier coller, juste à changer les questions, réponses et les true/false. 
        hr
        h1 Jeux des mots
        h3 explication
        p L'équipe/personne doit trouver un anime/manga/film... grace à des mots qui apparaissent et qui le définisse. La personne commence avec points et à chaque fois qu'il demande un nouveau mot, on lui retire un point. Il gagne quand il a trouvé ce que c'est.
        h3 Création
        p Etape 1 : Télécharger ce fichier : https://www.dropbox.com/s/rm0ox0kbqf1r8ku/JDM%2001.js?dl=0
        p Etape 2 : Ouvrir le fichier avec le programme Brackets : http://brackets.io/
        p Etape 3 : Vous devriez voir 10 élements. Voici leur structure :
        p 1:['réponse','mot1','mots2','mots3','mots4','mots5','mots6','mots7','mots8','mots9','mots10']
        p Chaque ligne est un mot avec ses indices. Dans une ligne, il y a des []. A l'intérieur, il y a 11 mots : Le premier est la réponse, les autres sont les indices qui apparaissent petit à petit. Les mots doivent être séparés par des virgules et ils doivent être entre des guillements. Pour plus de simplicité, prenez le fichier et changez juste les mots à l'interieur des guillemets. Les mots deviennent de plus en plus précis et trouvable.
        hr 
        h1 Vrai ou faux
        h3 explication
        p On dit par exemple "Il existe moins de 1000 îles au Japon". Les joueurs choississent entre vrai ou faux. Ceux qui ont raison obtiennent 1 points, ceux qui se trompent perdent 2 points.
        h3 Création
        p Etape 1 : Télécharger ce fichier : https://drive.google.com/open?id=1AGPUtMc0UfHT4qRH52FS3b8DqrXffQuN
        p Etape 2 : Ouvrez ce fichier avec Brackets.
        p Etape 3 : Comme vous voyez, il y a des questions avec la réponse. Je vous laisse faire les votre eb changeant les miennes. 
        p Etape 4 : Quand c'est vrai, il faut juste mettre 'Vrai'. Quand c'est faux, il faut mettre 'Faux Il y a plus de 3000 îles'. Ne pas oubliez les majuscules malgré le manque de point après le faux.
        p Etape 5 : Sauvegarder le fichier et me l'envoyer.

    style.
        body{background-color:black;}
        p,h1,h3{color:white;}
        p{font-size:20px}
        h1{font-size:40px}
        h2{font-size:30px}
        