<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel='stylesheet', href='/public/src/bootstrap-3.3.7-dist/css/bootstrap.css')
    body
        .container
            .row
                .col-sm-offset-4.col-sm-4
                    h1 Gaijin Team
        br
        br
        .container
            .row
                .col-sm-4
                    a(href="/game")
                        p NOS JEUX
                .col-sm-4
                    p PLANNING
                .col-sm-4
                    p AGENDA
    style.
        body{background-color:black;}
        h1,p{color:white;}